{
  "semi": true,
  "trailingComma": "never",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.feature",
      "options": {
        "parser": "gherkin"
      }
    },
    {
      "files": "*.json",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
} 